*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   line-height: 1.2rem;
   background: linear-gradient(135deg, #fff 0% ,#aaa 100%);
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
}